.Choose-from-best {
    background-color: #FFFFFF;
    margin: 0;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    max-width: 100%;
    padding-bottom: 5%;
    .Sub-heading {
        @media only screen and (min-device-width: 1024px) and (max-device-width: 1200px) and (max-device-height: 1366px) {
            font-size: 30px;
        }
        font-family: IBM Plex Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 23px;
        letter-spacing: .5px;
        color: #000000;
        padding-top: 3%;
        margin-left: 4%;
    }
    .row {
        margin-top: 4%;
        .col-lg-3 {
            text-align: center;
            @media only screen and (max-device-width: 600px) {
                width: 24%;
            }
            img {
                width: 52%;
                max-width: 100%;
                @media only screen and (max-device-width: 600px) {
                    width: 100%;
                }
                @media only screen and (min-device-width: 1024px) and (max-device-width: 1200px) and (max-device-height: 1366px) {
                    margin-bottom: 6%;
                }
            }
            .Card-header {
                @media only screen and (min-device-width: 1024px) and (max-device-width: 1200px) and (max-device-height: 1366px) {
                    font-size: 28px;
                }
                    @media only screen and (max-device-width: 600px) {
                        font-size: 16px;
                    }
                font-family: IBM Plex Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                margin-top: 5%;
                line-height: 16px;
            }
        }
    }
}