header {
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 16px;
    padding-bottom: 4%;
    background-color: #D45858;
    .Name{
        font-family: Exo;
        font-style: italic;
        font-weight: 800;
        font-size: 38px;
        letter-spacing: .5px;
        line-height: 32px;
        color: #FFFFFF;
        display: contents;
        position: absolute;
        width: 81px;
        height: 32px;
        left: 20px;
        top: 16px;
        margin-bottom: 1px;
    }
    .Notification {
        @media only screen and (min-device-width: 1024px) and (max-device-width: 1200px) and (max-device-height: 1366px) {
            width: 5%;
            margin-right: 3%;
        }
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
            width: 5%;
        }
        @media only screen and (max-device-width: 600px) {
            width: 11%;
        }
        position: absolute;
        width: 3.5%;
        right: 78px;
    }
    .Profile {
        @media only screen and (min-device-width: 1024px) and (max-device-width: 1200px) and (max-device-height: 1366px) {
            width: 5%;
            margin-right: 1%;
        }
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
            width: 5%;
        }
        @media only screen and (max-device-width: 600px) {
            width: 11%;
        }
        position: absolute;
        width: 3.5%;
        right: 24px;
    }
    .Account {
        float: right;
    }
    .line {
        width: 95%;
        height: 1px;
        left: 20px;
        right: 20px;
        margin-top: 24px;
        background: linear-gradient(to right, #FFFFFF, #D45858);
    }
    .Header-content {
        @media only screen and (max-device-width: 600px) {
            padding-bottom: 5%;
        }
        margin-left: 10%;
        background-color: #D45858;
        .Logo {
            img {
                position: relative;
                float: right;
                top: 26%;
                right: 8%;
                height: 86%;
                width: 37%;
                @media only screen and (min-device-width: 1024px) and (max-device-width: 1200px) and (max-device-height: 1366px) {
                    width: 55%;
                    top: 37%;
                    height: 77%;
                }
                @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
                    width: 50%;
                    height: 65%;
                    top: 47%;
                }
                @media only screen and (max-device-width: 600px) {
                    height: 64%;
                    width: 88%;
                    top: 44%;
                    left: 3%
                }
            }
        }
    }
    .Upto {
        width: 10%;
        height: 12%;
        left: 23px;
        margin-top: 95px;
        opacity: 0.67;
        font-family: IBM Plex Sans;
        font-style: italic;
        font-weight: 600;
        font-size: 40px;
        line-height: 21px;
        color:#FFFFFF;        
        @media only screen and (min-device-width: 1024px) and (max-device-width: 1200px) and (max-device-height: 1366px) {
            padding-bottom: 11%;
            margin-left: -6%;
        }
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
            margin-bottom: 5%;    
            font-size: 29px;
        }
        @media only screen and (max-device-width: 600px) {
            font-size: 21px;
            margin-left: -9px;
        }
    }
    .Off {        
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
            width: 93%; 
        }
        @media only screen and (min-device-width: 1024px) and (max-device-width: 1200px) and (max-device-height: 1366px) {
            width: 59%;
        }
        // @media only screen and (max-device-width: 600px) {
        //     width: 105%;
        //     font-size: 32px;
        // }
        // 6,7,8
        @media only screen 
        and (min-device-width: 375px) 
        and (max-device-width: 667px) 
        and (-webkit-min-device-pixel-ratio: 2) { 
            width: 105% !important;
            font-size: 32px !important;
            margin-top: 0 !important;
        }
        // 5/se
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
            width: 93%;
            font-size: 23px;
            margin-top: -5%;
            margin-left: -12%;
        }
        width: 59%;
        height: 12%;
        left: 20px;
        margin-top: 3%;
        margin-left: -10%;
        font-family: Exo;
        font-style: italic;
        font-weight: 800;
        font-size: 54px;
        line-height: 32px;
        color:#FFFFFF;
    }
    .First-order {
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
            width: 65%;
            margin-bottom: 7%;
        }
        // @media only screen and (max-device-width: 600px) {
        //     font-size: 19px;
        //     width: 115%;
        //     padding-bottom: 25%;
        //     margin-left: -9%;
        // }
        
        // 6,7,8
        @media only screen 
        and (min-device-width: 375px) 
        and (max-device-width: 667px) 
        and (-webkit-min-device-pixel-ratio: 2) { 
            font-size: 19px !important;
            width: 115% !important;
            padding-bottom: 25% !important;
            margin-left: -9% !important;
        }
        // 5 / se
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
            width: 116%;
            font-size: 16px;
            margin-left: -12%;
            padding-bottom: 25%;
        }

        width: 34%;
        height: 7%;
        left: 23px;
        margin-top: 2%;
        font-family: IBM Plex Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 26px;
        line-height: 16px;
        color:#FFFFFF;        
        @media only screen and (min-device-width: 1024px) and (max-device-width: 1200px) and (max-device-height: 1366px) {
            width: 52%;
            margin-left: -9%;
        }
    }
    .Order-btn {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 6px 12px;
        width: 40%;
        left: 20px;
        margin-top: 4%;
        border-radius: 8px;
        color:#FFFFFF;
        border: #FFFFFF 1px solid;
        
        @media only screen and (min-device-width: 1024px) and (max-device-width: 1200px) and (max-device-height: 1366px) {
            width: 51%;
            margin-left: -7%;
        }
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
            width: 63%;
            margin-bottom: 5%;
        }
        @media only screen and (max-device-width: 600px) {
            width: 95%;
            margin-left: -6%;
        }
    } 
    .Order {
        @media only screen and (max-device-width: 600px) {
            font-size: 16px;
        }
        left: 12px;
        top: 6px;
        padding: 6%;
        font-family: IBM Plex Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 27px;
        line-height: 18px;
        margin-left: 8%;
        text-align: center;
        color: #D45858;
    }
}